.rucar {
  width: 100%;
  height: 240px;
  background-image: url("../../assets/tongwei/wjtimes_bg.png");
  background-size: 100% 100%;
  padding-top: 20px;
  .yc_t {
    background-image: url("../../assets/tongwei/title_24.png");
    background-size: 100% 100%;
    width: 360px;
    height: 30px;
    margin-left: 20px;

    span {
      display: block;
      float: left;
    }

    .yc_close {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .yc_title {
      color: #fff;
      margin-left: 20px;
      line-height: 30px;
      font-weight: bold;
    }
  }
  .yc_tu {
    width: 360px;
    margin-left: 20px;
  }
}
