.alert_box {
  background-color: rgb(52, 132, 245);
  color: #fff;
  width: 300px;
  box-sizing: border-box;
  float: right;
  .title {
    font-size: 20px;
    border: 1px solid #fff;
    padding-left: 20px;
  }
  ul {
    li {
      padding-left: 20px;
      border-bottom: 1px solid #fff;
      cursor: pointer;
    }
  }
}
