.perx {
  .perx_top {
    overflow: hidden;
    .perx_left {
      position: absolute;
      left: 50px;
      z-index: 160;
      .fl {
        margin-top: 110px;
      }
      .ry {
        margin-top: 20px;
      }
      .mj {
        margin-top: 20px;
      }
    }
    .perx_right {
      margin-top: 110px;
      position: absolute;
      z-index: 160;
      right: 50px;
    }
  }
  .perx_bot {
    
  }
}
