.today_num {
  position: absolute;
  left: 50px;
  bottom: 100px;
  z-index: 150;
}
.a1 {
  position: absolute;
  top: 300px;
  left: 1000px;
  z-index: 170;
}
.a2 {
  position: absolute;
  top: 300px;
  left: 1400px;
  z-index: 170;
}

.gonggao {
  position: absolute;
  z-index: 200;
  top: 110px;
  left: 50px;
}
