.cl_box {
  width: 100%;
  height: 240px;
  background-image: url("../../assets/tongwei/ru.png");
  background-size: 100% 100%;
  padding-top: 20px;
  .cl_t {
    background-image: url("../../assets/tongwei/fen_title.png");
    background-size: 100% 100%;
    width: 260px;
    height: 30px;
    margin-left: 20px;
    span {
      display: block;
      float: left;
    }
    .cl_close {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .cl_title {
      color: #fff;
      margin-left: 20px;
      line-height: 30px;
      font-weight: bold;
    }
  }
  .cl_y {
    overflow: hidden;
    float: left;
    .cl_tou {
      width: 50px;
      width: 70px;
      margin-top: 5px;
      margin-left: 30px;
      margin-top: 10px;
    }
    .cl_con {
      margin-left: 20px;
      .cl_num {
        background-image: url(../../assets/tongwei/ru_num.png);
        color: #fff;
        width: 100px;
        height: 24px;
        line-height: 24px;
        background-size: 100% 100%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .cl_num_bg_box {
        .cl_num_bg {
          background-image: url(../../assets/tongwei/ru_num_bg.png);
          background-size: 100% 100%;
          width: 20px;
          height: 40px;
          display: inline-block;
          margin-right: 6.5px;
          color: #4dd3ff;
          text-align: center;
          line-height: 40px;
          font-size: 30px;
        }
        .cl_num_bg:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  .cl_r {
    float: left;
    margin-left: 5px;
    .cl_bot {
      background: url(../../assets/tongwei/car_right.png);
      height: 25px;
      background-size: 100% 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      overflow: hidden;
      .cl_bot_left {
        img {
          width: 30px;
          margin-right: 15px;
        }
        span {
          color: #c7daed;
          font-size: 14px;
          display: inline-block;
          width:70px;
        }
        float: left;
      }
      .cl_bot_right {
        color: #fff;
        float: left;
        margin-left: 10px;
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
  .per_box:last-child .line {
    display: none;
  }
}
