.perx {
  .perx_top {
    overflow: hidden;
    .perx_left {
      float: left;
      margin-left: 50px;
      .wj {
        margin-top: 110px;
      }
      .wjtimes {
        margin-top: 10px;
      }
      .zl {
        margin-top: 10px;
      }
    }
    .perx_right {
      float: right;
      margin-right: 50px;
      margin-top: 110px;
      .xg {
          
      }
      .bj {
        margin-top: 10px;
      }
    }
  }
}
