.online {
  width: 300px;
  height: 690px;
  background-image: url("../../assets/tongwei/mj_bg.png");
  background-size: 100% 100%;
  padding-top: 20px;
  margin-top: 110px;
  margin-left: 50px;
  .mj_t {
    background-image: url(../../assets/tongwei/fen_title.png);
    background-size: 100% 100%;
    width: 260px;
    height: 30px;
    margin-left: 20px;
    span {
      display: block;
      float: left;
    }
    .mj_close {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .mj_title {
      color: #fff;
      margin-left: 20px;
      line-height: 30px;
      font-weight: bold;
    }
  }
  .mj_p {
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 2px;
    overflow: hidden;
    .mj_pbox {
      background-image: url(../../assets/tongwei/mj_num.png);
      background-size: 100% 100%;
      width: 124px;
      height: 60px;
      float: left;
      margin-left: 10px;
      .mj_pname {
        color: #fff;
        font-size: 12px;
        line-height: 24px;
        box-sizing: border-box;
        padding-left: 10px;
      }
      .mj_pvalue {
        color: #4dd3ff;
        background-image: linear-gradient(#5af7ff, #0092e9);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        box-sizing: border-box;
        padding-left: 10px;
      }
    }
  }
  .bread_box {
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    .bg_box {
      background-image: url(../../assets/tongwei/bowen_bg.png);
      background-size: 100% 100%;
      width: 100px;
      height: 100px;
      overflow: hidden;
      position: relative;
      float: left;
      margin-left: 20px;
      .tu {
        background-image: url(../../assets/tongwei/bowen_top.png);
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: 10px 18px;
      }
      .bread_title {
        position: absolute;
        top: 40px;
        left: 38px;
        text-align: center;
        .bread_t {
          color: #fff;
          font-size: 14px;
        }
        .bread_b {
          color: #fff;
          font-size: 12px;
          margin-top: 20px;
        }
      }
    }
    .bg_right {
      float: left;
      margin-left: 20px;
      margin-top: 20px;
      width: 150px;
      .bg_r_box {
        float: left;
        margin-right: 10px;
        .bg_top {
          overflow: hidden;
          float: left;
          div {
            width: 6px;
            height: 6px;
            background-image: linear-gradient(-16deg, #ffd148 12%, #ffa334 88%);
            border-radius: 50%;
            float: left;
            margin-top: 8px;
            margin-right: 10px;
          }
          // div:after {
          //   content: "";
          //   display: block;
          //   width: 4px;
          //   height: 4px;
          //   border-radius: 50%;
          //   background-color: rgb(42, 58, 81);
          //   position: relative;
          //   top: 3px;
          //   left: 3px;
          // }
          .call1 {
            background-image: linear-gradient(0deg, #00faa8 15%, #24ffe4 88%);
          }
          .call2 {
            background-image: linear-gradient(-23deg, #b8b8b8 15%, #b8b8b8 68%);
          }
          .call3 {
            background-image: linear-gradient(-16deg, #ffd148 12%, #ffa334 88%);
          }
          .huan_name {
            float: left;
            color: #c7daed;
          }
        }
        .bg_bot {
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          margin-left: 18px;
          float: left;
          line-height: 22px;
        }
      }
    }
  }
  .bot_box {
    .bot:nth-of-type(odd) {
      background-color: rgba(6, 32, 63, 0.5);
    }
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    .bot {
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgba(0, 31, 69, 0.24);
      img {
        width: 40px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
      }
      .right_bot {
        float: left;
        width: 200px;
        .bot_name {
          color: #c8dbee;
          width: 70px;
        }
        .bot_value {
          color: #fff;
          display: flex;
          span {
            flex: 1;
          }
          .r1 {
            width: 6px;
            height: 6px;
            display: inline-block;
            border-radius: 50%;
            margin-right:3px;
            line-height: 50px;
            background-image: linear-gradient(0deg, #00faa8 15%, #24ffe4 88%);
          }
          .r2 {
            width: 6px;
            height: 6px;
            display: inline-block;
            border-radius: 50%;
            margin-right:3px;
            background-image: linear-gradient(-23deg, #b8b8b8 15%, #b8b8b8 68%);
          }
          .r3 {
            width: 6px;
            height: 6px;
            display: inline-block;
            border-radius: 50%;
            margin-right:3px;
            background-image: linear-gradient(-16deg, #ffd148 12%, #ffa334 88%);
          }
        }
      }
    }
  }
}
