.fei_box {
  width: 300px;
  height: 140px;
  background-image: url("../../assets/tongwei/ff.png");
  background-size: 100% 100%;
  .fei_title {
    overflow: hidden;
    .t_title {
      float: left;
      color: #fff;
      font-weight: bold;
      margin-top: 12px;
      margin-left: 20px;
    }
    .t_close {
      width: 20px;
      height: 20px;
      // border: 1px solid blue;
      float: right;
      cursor: pointer;
      margin-right: 10px;
      margin-top: 12px;
    }
  }
  .fei_content {
    .fei_tou {
      float: left;
      width: 60px;
      height: 60px;
      border: 1px solid #ff8229;
      margin-left: 20px;
      margin-top: 8px;
    }
    .fei_right {
      float: left;
      margin-top: 10px;
      .che {
        background-color: rgb(90, 110, 211);
        color: #fff;
        width:70px;
        font-size:12px;
        margin-left:5px;
      }
      .right_con {
        img {
          width: 20px;
        }
        span {
          color: #fff;
          font-size: 12px;
        }
      }
    }
  }
}
